@import '@/styles/theme.css';
@import '@/styles/commonAnimation.css';
@import '@/styles/nprogress.css';
@import '@/styles/common.scss';

/* 全局重置样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

